*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.monaco-editor {
  height: 1000px;
  width: 100%;
  /* height: 100%; */

}

.markdown-border {
  border: 1px solid black;
  /* box-shadow:  1px 1px 1px 1px; */
  height: 100%
}

